[submodule "Jade/vendor/spdlog"]
    path = Jade/vendor/spdlog
    url = ../../gabime/spdlog.git
    branch = v1.x
[submodule "Jade/vendor/GLFW"]
    path = Jade/vendor/GLFW
    url = ../../cjmin1233/glfw.git
    branch = master
[submodule "Jade/vendor/imgui"]
    path = Jade/vendor/imgui
    url = ../../cjmin1233/imgui.git
    branch = docking
[submodule "Jade/vendor/glm"]
    path = Jade/vendor/glm
    url = ../../g-truc/glm.git
    branch = master
[submodule "Jade/vendor/yaml-cpp"]
    path = Jade/vendor/yaml-cpp
    url = ../../cjmin1233/yaml-cpp
    branch = master
